body { 
    display: grid;
    height: 100vh;
    margin: 2px;
    grid-auto-flow: row;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr; */
    background-image: url("images/mediumwood.jpg");
    background-size: cover;
    color: azure;
}

main {
    display: grid;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}


header {
    display: grid;
    grid-column: 1/4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Cinzel Decorative', cursive;
    color:azure;  
}

h1 {
    font-size: 60px;
}

h2 {
    margin: 0;
}
button {
    background-color: brown;
}
/* div {
    display: grid;
    grid-auto-flow: row;
    display: flex;
    flex-direction: row;  
    display: inline-block;
} */
.container {
    display: flex;
    justify-content: space-evenly;
    
}
.past {
    display: grid;
    grid-column: 1 / span 1;
    display: flex; 
    flex-flow: row, wrap; 
    padding: 20px;
    margin: 1px 20px 1px 20px;
    text-align: center;
    color: azure; 
    justify-content: center;
    background-color: aqua;
    display: inline-block;
} 

 .present {
    display: grid;
    grid-column: 2 / span 1;
    display: flex;
    flex-flow: row, wrap;
    justify-content: center; 
    padding: 20px;
    margin: 1px 20px 1px 20px;
    text-align: center;
    color: azure;
    background-color: blueviolet;
    /* display: inline-block; */
}

.future {
    display: grid;
    grid-column: 3 / span 1;
    display: flex;
    flex-flow: row, wrap;
    padding: 20px;
    margin: 1px 20px 1px 20px;
    text-align: center;
    color: azure;
    justify-content: center;
    background-color: red;
    /* display: inline-block; */
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}  

.item1 {
    grid-area: 1;
}

.item2 {
    grid-area: 2;
}

.item3 {
    grid-area: 3;
}

